<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  {{#if (eq addons.pwa "true")}}
    <link rel="manifest" href="manifest.webmanifest">
  {{/if}}
</head>
<body>
  <app-root></app-root>
  {{#if (eq addons.pwa "true")}}
    <noscript>Please enable JavaScript to continue using this application.</noscript>
  {{/if}}
</body>
</html>
